<h1>Rock paper scissors</h1>

<form action="/rps" method="post">
  <label for="rock">
    <input type="radio" name="choice" value="rock" id="rock">
  </label>
  <br>
  <label for="paper">
    <input type="radio" name="choice" value="paper" id="paper">
  </label>
  <br>
  <label for="scissors">
    <input type="radio" name="choice" value="scissors" id="scissors">
  </label>
  <br>
</form>